{% extends 'mainapp/layout.html' %}
{% load static %}

{% block content %}

<h2 class="ui center aligned icon header" style="margin-top: 20px;">
    <i class="circular github icon"></i>
    Swordfish Issues
  </h2>
<div>
<div class="ui container">
<table class="ui fixed single line celled table">
    <thead>
        <tr><th>Number</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Client</th>
        <th>Type</th>
        <th>Assigned To</th>
        <th></th>
      </tr></thead>
    <tbody>
    {% for i in issues %}
    <tr>
        <td data-label="Number">{{i.number}}</td>
        <td data-label="Title">{{i.title}}</td>
        <td data-label="Description">{{i.description}}</td>
        <td data-label="Priority">{{i.priority}}</td>
        <td data-label="Client">{{i.client}}</td>
        <td data-label="Type">{{i.type}}</td>
        <td data-label="Assigned To">{{i.assigned_to}}</td>
        <td><button class="ui primary button">
          View
        </button></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>


{% endblock %}